$background-color: hsl(264, 90%, 94%);
$background-color-active: darken($background-color, 7%);

:host {
  display: flex;
  height: 44px;
  background-color: $background-color;
  border: 1px solid $background-color-active;
  border-radius: 8px;
  margin-bottom: 24px;
  align-items: stretch;
  overflow: hidden;
}

.search {
  display: flex;
  flex-grow: 1;
  img {
    margin-left: 4px;
    padding: 4px;
  }

  input {
    margin-left: var(--half-separation);
    background: none;
    border: none;
    outline: none;
    font-size: 0.8rem;
    flex-grow: 1;

    &::placeholder {
      color: desaturate(darken($background-color, 30%), 60%);
    }
  }
}

button {
  background: none;
  border: none;
  padding: 0 var(--half-separation);
  white-space: nowrap;
  border-left: 1px solid $background-color-active;

  &:hover,
  &.active {
    background-color: $background-color-active;
  }
}
